.App {
  text-align: center;
  
}
.ingredients{
  text-align: center;
  
}

.btnMeal{
  background-color:rgb(202, 202, 202)n;
  padding:10px
}
.container{
  background-color: rgb(226, 226, 226);
  padding-bottom: 20px;
}
.navbar{
  width:100vw;
}
.logo{
  margin-right: 10px;
}

@media screen and (max-width: 766px) {
  .navbar-brand
  {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
  }
.navbar{
  height:70px;
}
}
